<nav class="navbar navbar-expand-lg bg-primary" data-bs-theme="dark">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">Centro especializado en Lenguas UTP</a>
      
      <div class="collapse navbar-collapse col text-center" id="navbarColor01">
        <ul class="navbar-nav me-auto">

          <li class="nav-item">
            <a class="nav-link" href="/admin">Administración</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/course">Cursos</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/planner">Horarios</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/enrollments">Inscripción</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  