<div class="center">
    <a [routerLink]="['/course-form']">
      <button type="button" class="btn btn-primary">Agregar Curso</button>
    </a>
    <a [routerLink]="['/teacher-form']">
      <button type="button" class="btn btn-primary">Agregar Profesores</button>
    </a>
    <a [routerLink]="['/course-list']">
      <button type="button" class="btn btn-primary">Lista de Cursos</button>
    </a>
    <a [routerLink]="['/teacher-list']">
      <button type="button" class="btn btn-primary">Lista de Profesores</button>
    </a>
    <a [routerLink]="['/enrollment-list']">
      <button type="button" class="btn btn-primary">Lista de Inscripciones</button>
    </a>
</div>
  