<div class="center">
    <a href="admin/new_course">
        <button type="button" class="btn btn-primary">Agregar Curso</button>
    </a>
    <a href="admin/new_teacher">
        <button type="button" class="btn btn-primary">Agregar Profesor</button>
    </a>
    <a href="admin/list/courses">
        <button type="button" class="btn btn-primary" >Lista de Cursos</button>
    </a>
    <a href="admin/list/teachers">
        <button type="button" class="btn btn-primary">Lista de Profesores</button>
    </a>
    <a href="admin/list/enrollments">
        <button type="button" class="btn btn-primary">Lista de Inscripciones</button>
    </a>
</div>
