<div class="container">
  <div>
    <h2>Agregar curso: </h2>
  </div>

  <div class="form-group">
    <label for="name">Nombre:</label>
    <input type="text" id="name" [(ngModel)]="newCourse.name" class="form-control">
  </div>
  <div class="form-group">
    <label for="level">Nivel:</label>
    <input type="text" id="level" [(ngModel)]="newCourse.level" class="form-control">
  </div>
  <div class="form-group">
    <label for="language">Idioma:</label>
    <input type="text" id="language" [(ngModel)]="newCourse.language" class="form-control">
  </div>
  <div class="form-group">
    <label for="">Status:</label>
    <input type="text" id="status" [(ngModel)]="newCourse.status" class="form-control">
  </div>
  <button type="submit" (click)="createCourse()" class="btn btn-primary">Agregar curso</button>
  
  <h2>Lista de cursos disponibles</h2>
  <table class="table table-striped" *ngIf="listCourses.length > 0; else noRecords">
    <thead>
      <tr>
        <th>ID</th>
        <th>Nombre</th>
        <th>Nivel</th>
        <th>Idioma</th>
        <th>Estatus</th>
        <th>Acciones</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let course of listCourses; let i = index" class="table-success">
        <td>
          <span *ngIf="numEdit !== i">{{course.id}}</span>
          <input *ngIf="numEdit === i" type="text" [(ngModel)]="listCourses[i].id">
        </td>
        <td>
          <span *ngIf="numEdit !== i">{{course.name}}</span>
          <input *ngIf="numEdit === i" type="text" [(ngModel)]="listCourses[i].name">
        </td>
        <td>
          <span *ngIf="numEdit !== i">{{course.level}}</span>
          <input *ngIf="numEdit === i" type="text" [(ngModel)]="listCourses[i].level">
        </td>
        
        <td>
          <span *ngIf="numEdit !== i">{{course.language}}</span>
          <input *ngIf="numEdit === i" type="text" [(ngModel)]="listCourses[i].language">
        </td>
        <td>
          <span *ngIf="numEdit !== i">{{course.status}}</span>
          <input *ngIf="numEdit === i" type="text" [(ngModel)]="listCourses[i].status">
        </td>
        <td>
          <button *ngIf="numEdit !== i" (click)="editCourse(i)" class="btn btn-secondary btn-sm">Editar</button>
          <button *ngIf="numEdit === i" (click)="saveCourse()" class="btn btn-success btn-sm ms-2">Guardar</button>
          <button (click)="deleteCourse(i)" class="btn btn-danger btn-sm ms-2">Eliminar</button>
        </td>
      </tr>
    </tbody>
  </table>
  <ng-template #noRecords>
    <div>No hay registros</div>
  </ng-template>
</div>
