<div class="container">
    <div>
      <h2>Registro administrador: </h2>
    </div>
  
    <div class="form-group">
      <label for="email">Email:</label>
      <input type="text" id="email" [(ngModel)]="email" class="form-control">
    </div>

    <div class="form-group">
      <label for="password">Contraseña:</label>
      <input type="password" id="password" [(ngModel)]="password" class="form-control">
    </div>
    
    <div class="center">
        <button type="submit" (click)="register()" class="btn btn-primary">Registrarse</button>
    </div>
    
</div>