<div class="container">
  
    <h2>Lista de cursos</h2>
    <table class="table table-striped" *ngIf="listCourses.length > 0; else noRecords">
      <thead>
        <tr>
          <th>ID</th>
          <th>Nombre</th>
          <th>Nivel</th>
          <th>Idioma</th>
          <th>Estatus</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let course of listCourses; let i = index" class="table-success">
          <td>
            <span>{{course.id}}</span>
          </td>
          <td>
            <span>{{course.name}}</span>
          </td>
          <td>
            <span>{{course.level}}</span>
          </td>
          <td>
            <span>{{course.language}}</span>
          </td>
          <td>
            <span>{{course.status}}</span>
          </td>
        </tr>
      </tbody>
    </table>
    <ng-template #noRecords>
      <div>No hay registros</div>
    </ng-template>
  </div>
  
