<div class="jumbotron">
    <h1 class="display-3 text-center">Bienvenido al Centro de Lenguas UTP</h1>
    <p class="lead text-center">¡Práctica, diviertete y comienza a aprender un idioma!</p>

<hr>

    <figure class="text-center">
        <blockquote class="blockquote">
          <p class="mb-0">Excelente lugar para formar bases de cualquier idioma, lo recomiendo.</p>
        
        </blockquote>
        <figcaption class="blockquote-footer">
           <cite title="Source Title">Pablito</cite>
        </figcaption>
      </figure>

    
</div>