<div class="container">
  <div>
    <h2>Agregar profesor: </h2>
  </div>

  <div class="form-group">
    <label for="name">Nombre:</label>
    <input type="text" id="name" [(ngModel)]="newTeacher.name" class="form-control">
  </div>
  <div class="form-group">
    <label for="level">Correo:</label>
    <input type="text" id="level" [(ngModel)]="newTeacher.email" class="form-control">
  </div>
  <div class="form-group">
    <label for="language">Curso:</label>
    <input type="text" id="language" [(ngModel)]="newTeacher.courses" class="form-control">
  </div>
  <button type="submit" (click)="createTeacher()" class="btn btn-primary">Agregar curso</button>
  
  <h2>Lista de profesores disponibles</h2>
  <table class="table table-striped" *ngIf="listTeachers.length > 0; else noRecords">
    <thead>
      <tr>
        <th>ID</th>
        <th>Nombre</th>
        <th>Correo</th>
        <th>Curso</th>
        <th>Acciones</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let teacher of listTeachers; let i = index" class="table-success">
        <td>
          <span *ngIf="numEdit !== i">{{teacher.id}}</span>
          <input *ngIf="numEdit === i" type="text" [(ngModel)]="listTeachers[i].id">
        </td>
        <td>
          <span *ngIf="numEdit !== i">{{teacher.name}}</span>
          <input *ngIf="numEdit === i" type="text" [(ngModel)]="listTeachers[i].name">
        </td>
        <td>
          <span *ngIf="numEdit !== i">{{teacher.email}}</span>
          <input *ngIf="numEdit === i" type="text" [(ngModel)]="listTeachers[i].email">
        </td>
        <td>
          <span *ngIf="numEdit !== i">{{teacher.courses}}</span>
          <input *ngIf="numEdit === i" type="text" [(ngModel)]="listTeachers[i].courses">
        </td>
        
        <td>
          <button *ngIf="numEdit !== i" (click)="editTeacher(i)" class="btn btn-secondary btn-sm">Editar</button>
          <button *ngIf="numEdit === i" (click)="saveTeacher()" class="btn btn-success btn-sm ms-2">Guardar</button>
          <button (click)="deleteCourse(i)" class="btn btn-danger btn-sm ms-2">Eliminar</button>
        </td>
      </tr>
    </tbody>
  </table>
  <ng-template #noRecords>
    <div>No hay registros</div>
  </ng-template>
</div>
